<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.znz.dao.PictureMapper" >
  <resultMap id="BaseResultMap" type="com.znz.model.Picture" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="click_times" property="clickTimes" jdbcType="INTEGER" />
    <result column="download_times" property="downloadTimes" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="attach" property="attach" jdbcType="VARCHAR" />
    <result column="sec_category" property="secCategory" jdbcType="INTEGER" />
    <result column="rec_id" property="recId" jdbcType="VARCHAR" />
    <result column="gid" property="gid" jdbcType="VARCHAR" />
    <result column="width" property="width" jdbcType="VARCHAR" />
    <result column="height" property="height" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, file_path, click_times, download_times, create_time, create_user,attach,sec_category,rec_id,gid,width,height,size
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_picture
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByGid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_picture
    where gid = #{gid,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_picture
    where id = #{id,jdbcType=BIGINT}
  </delete>


  <delete id="deleteByGid" parameterType="java.lang.String" >
    delete from t_picture
    where gid = #{gid,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.znz.model.Picture" >
    insert into t_picture (id, name, file_path, 
      click_times, download_times, create_time, 
      create_user,sec_category,rec_id,gid,width,height,size)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, 
      #{clickTimes,jdbcType=INTEGER}, #{downloadTimes,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR},#{secCategory,jdbcType=INTEGER},#{recId,jdbcType=VARCHAR},#{gid,jdbcType=VARCHAR},
      #{width,jdbcType=VARCHAR},#{height,jdbcType=VARCHAR},#{size,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.znz.model.Picture" >
    update t_picture
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="clickTimes != null" >
        click_times = #{clickTimes,jdbcType=INTEGER},
      </if>
      <if test="downloadTimes != null" >
        download_times = #{downloadTimes,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="attach != null" >
        attach = #{attach,jdbcType=VARCHAR}
      </if>
      <if test="recId != null" >
        rec_id = #{recId,jdbcType=VARCHAR}
      </if>
      <if test="secCategory != null" >
        sec_category = #{secCategory,jdbcType=VARCHAR}
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=VARCHAR}
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=VARCHAR}
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.znz.model.Picture" >
    update t_picture
    set name = #{name,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      click_times = #{clickTimes,jdbcType=INTEGER},
      download_times = #{downloadTimes,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      attach = #{attach,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <sql id="querySql">
    select
    <include refid="Base_Column_List" />
    from t_picture where 1=1

    <if test="recommendId!=null">
      and id IN (SELECT picture_id from  t_pic_recommend where user_id = #{recommendId,jdbcType=INTEGER} and partion_code= #{partionCode,jdbcType=INTEGER} )
    </if>

    <if test="categoryConditions!=null and categoryConditions.size()!=0">
      <foreach item="item" index="index" collection="categoryConditions" >
        and id in(
        SELECT picture_id  FROM `t_picture_category`

        where sub_category_id  in
        <foreach item="subItem" index="subIndex" collection="item"  open="(" separator="," close=")">
          #{subItem}
        </foreach>
        )
      </foreach>
    </if>
    <if test="startTime!=null">
      and create_time &gt;=  #{startTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime!=null">
      and create_time &lt;= #{endTime,jdbcType=TIMESTAMP}
    </if>
  </sql>



  <select id="selectByPage" resultMap="BaseResultMap" parameterType="com.znz.vo.FileQueryVO" >
   <include refid="querySql"/>
    order by id desc
  </select>


  <select id="selectByIds" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_picture where id in
        <foreach item="subItem" index="subIndex" collection="list"  open="(" separator="," close=")">
          #{subItem}
        </foreach>
    order by id desc
  </select>


  <select id="selectByGids" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from t_picture where gid in
    <foreach item="subItem" index="subIndex" collection="list"  open="(" separator="," close=")">
      #{subItem}
    </foreach>
    order by id desc
  </select>




  <delete id="deleteByPrimaryKeys"  >
    delete from t_picture
    where id in
    <foreach item="item" index="index" collection="list"  open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <delete id="deleteByGids"  >
    delete from t_picture
    where gid in
    <foreach item="item" index="index" collection="list"  open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>


  <select id="selectByParam" resultMap="BaseResultMap" parameterType="com.znz.vo.FileQueryVO" >
    <include refid="querySql"/>
  </select>

  <select id="selectBySimplePage" resultMap="BaseResultMap" parameterType="com.znz.vo.FileQueryVO" >
    select
    <include refid="Base_Column_List" />
    from t_picture where 1=1
    <if test="recommendId!=null">
      and id IN (SELECT picture_id from  t_pic_recommend where user_id = #{recommendId,jdbcType=INTEGER} and partion_code= #{partionCode,jdbcType=INTEGER} )
    </if>
     order by id desc
  </select>

</mapper>