<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.znz.dao.THotelMapper" >
  <resultMap id="BaseResultMap" type="com.znz.model.THotel" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="xj" property="xj" jdbcType="VARCHAR" />
    <result column="dj" property="dj" jdbcType="INTEGER" />
    <result column="wj" property="wj" jdbcType="INTEGER" />
    <result column="hjz" property="hjz" jdbcType="INTEGER" />
    <result column="cj" property="cj" jdbcType="INTEGER" />
    <result column="wy" property="wy" jdbcType="INTEGER" />
    <result column="zyzc" property="zyzc" jdbcType="VARCHAR" />
    <result column="cgfs" property="cgfs" jdbcType="VARCHAR" />
    <result column="cgdh" property="cgdh" jdbcType="VARCHAR" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
    <result column="ext1" property="ext1" jdbcType="INTEGER" />
    <result column="ext2" property="ext2" jdbcType="INTEGER" />
    <result column="ext3" property="ext3" jdbcType="INTEGER" />
    <result column="ext4" property="ext4" jdbcType="VARCHAR" />
    <result column="ext5" property="ext5" jdbcType="VARCHAR" />
    <result column="ext6" property="ext6" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hotel_name, area_name, xj, dj, wj, hjz, cj, wy, zyzc, cgfs, cgdh, bz, ext1, ext2, 
    ext3, ext4, ext5, ext6, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_hotel
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_hotel
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.znz.model.THotel" >
    insert into t_hotel (id, hotel_name, area_name, 
      xj, dj, wj, hjz, 
      cj, wy, zyzc, cgfs, 
      cgdh, bz, ext1, ext2, 
      ext3, ext4, ext5, ext6, 
      create_time, update_time)
    values (#{id,jdbcType=VARCHAR}, #{hotelName,jdbcType=VARCHAR}, #{areaName,jdbcType=VARCHAR}, 
      #{xj,jdbcType=VARCHAR}, #{dj,jdbcType=INTEGER}, #{wj,jdbcType=INTEGER}, #{hjz,jdbcType=INTEGER}, 
      #{cj,jdbcType=INTEGER}, #{wy,jdbcType=INTEGER}, #{zyzc,jdbcType=VARCHAR}, #{cgfs,jdbcType=VARCHAR}, 
      #{cgdh,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, #{ext1,jdbcType=INTEGER}, #{ext2,jdbcType=INTEGER}, 
      #{ext3,jdbcType=INTEGER}, #{ext4,jdbcType=VARCHAR}, #{ext5,jdbcType=VARCHAR}, #{ext6,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.znz.model.THotel" >
    insert into t_hotel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hotelName != null" >
        hotel_name,
      </if>
      <if test="areaName != null" >
        area_name,
      </if>
      <if test="xj != null" >
        xj,
      </if>
      <if test="dj != null" >
        dj,
      </if>
      <if test="wj != null" >
        wj,
      </if>
      <if test="hjz != null" >
        hjz,
      </if>
      <if test="cj != null" >
        cj,
      </if>
      <if test="wy != null" >
        wy,
      </if>
      <if test="zyzc != null" >
        zyzc,
      </if>
      <if test="cgfs != null" >
        cgfs,
      </if>
      <if test="cgdh != null" >
        cgdh,
      </if>
      <if test="bz != null" >
        bz,
      </if>
      <if test="ext1 != null" >
        ext1,
      </if>
      <if test="ext2 != null" >
        ext2,
      </if>
      <if test="ext3 != null" >
        ext3,
      </if>
      <if test="ext4 != null" >
        ext4,
      </if>
      <if test="ext5 != null" >
        ext5,
      </if>
      <if test="ext6 != null" >
        ext6,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="hotelName != null" >
        #{hotelName,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="xj != null" >
        #{xj,jdbcType=VARCHAR},
      </if>
      <if test="dj != null" >
        #{dj,jdbcType=INTEGER},
      </if>
      <if test="wj != null" >
        #{wj,jdbcType=INTEGER},
      </if>
      <if test="hjz != null" >
        #{hjz,jdbcType=INTEGER},
      </if>
      <if test="cj != null" >
        #{cj,jdbcType=INTEGER},
      </if>
      <if test="wy != null" >
        #{wy,jdbcType=INTEGER},
      </if>
      <if test="zyzc != null" >
        #{zyzc,jdbcType=VARCHAR},
      </if>
      <if test="cgfs != null" >
        #{cgfs,jdbcType=VARCHAR},
      </if>
      <if test="cgdh != null" >
        #{cgdh,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=INTEGER},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=INTEGER},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=INTEGER},
      </if>
      <if test="ext4 != null" >
        #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null" >
        #{ext5,jdbcType=VARCHAR},
      </if>
      <if test="ext6 != null" >
        #{ext6,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.znz.model.THotel" >
    update t_hotel
    <set >
      <if test="hotelName != null" >
        hotel_name = #{hotelName,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="xj != null" >
        xj = #{xj,jdbcType=VARCHAR},
      </if>
      <if test="dj != null" >
        dj = #{dj,jdbcType=INTEGER},
      </if>
      <if test="wj != null" >
        wj = #{wj,jdbcType=INTEGER},
      </if>
      <if test="hjz != null" >
        hjz = #{hjz,jdbcType=INTEGER},
      </if>
      <if test="cj != null" >
        cj = #{cj,jdbcType=INTEGER},
      </if>
      <if test="wy != null" >
        wy = #{wy,jdbcType=INTEGER},
      </if>
      <if test="zyzc != null" >
        zyzc = #{zyzc,jdbcType=VARCHAR},
      </if>
      <if test="cgfs != null" >
        cgfs = #{cgfs,jdbcType=VARCHAR},
      </if>
      <if test="cgdh != null" >
        cgdh = #{cgdh,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        ext1 = #{ext1,jdbcType=INTEGER},
      </if>
      <if test="ext2 != null" >
        ext2 = #{ext2,jdbcType=INTEGER},
      </if>
      <if test="ext3 != null" >
        ext3 = #{ext3,jdbcType=INTEGER},
      </if>
      <if test="ext4 != null" >
        ext4 = #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null" >
        ext5 = #{ext5,jdbcType=VARCHAR},
      </if>
      <if test="ext6 != null" >
        ext6 = #{ext6,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.znz.model.THotel" >
    update t_hotel
    set hotel_name = #{hotelName,jdbcType=VARCHAR},
      area_name = #{areaName,jdbcType=VARCHAR},
      xj = #{xj,jdbcType=VARCHAR},
      dj = #{dj,jdbcType=INTEGER},
      wj = #{wj,jdbcType=INTEGER},
      hjz = #{hjz,jdbcType=INTEGER},
      cj = #{cj,jdbcType=INTEGER},
      wy = #{wy,jdbcType=INTEGER},
      zyzc = #{zyzc,jdbcType=VARCHAR},
      cgfs = #{cgfs,jdbcType=VARCHAR},
      cgdh = #{cgdh,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      ext1 = #{ext1,jdbcType=INTEGER},
      ext2 = #{ext2,jdbcType=INTEGER},
      ext3 = #{ext3,jdbcType=INTEGER},
      ext4 = #{ext4,jdbcType=VARCHAR},
      ext5 = #{ext5,jdbcType=VARCHAR},
      ext6 = #{ext6,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByPage" resultMap="BaseResultMap" parameterType="com.znz.vo.HotelQueryQueryVO" >
    select
    <include refid="Base_Column_List" />
    from t_hotel where 1=1
    <if test="hotelName != null" >
      and  hotel_name like #{hotelName,jdbcType=VARCHAR}
    </if>
    <if test="areaName != null" >
      and area_name = #{areaName,jdbcType=VARCHAR}
    </if>
    <if test="xj != null" >
      and xj = #{xj,jdbcType=VARCHAR}
    </if>
    order by ${sortName}  ${sord}
  </select>
</mapper>