<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.znz.dao.TProductMapper" >
  <resultMap id="BaseResultMap" type="com.znz.model.TProduct" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="prod_no" property="prodNo" jdbcType="VARCHAR" />
    <result column="prod_name" property="prodName" jdbcType="VARCHAR" />
    <result column="start" property="start" jdbcType="VARCHAR" />
    <result column="destination" property="destination" jdbcType="VARCHAR" />
    <result column="prod_sort" property="prodSort" jdbcType="VARCHAR" />
    <result column="prod_sale" property="prodSale" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, prod_no, prod_name, start, destination, prod_sort, prod_sale, create_time, update_time,
    remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_product
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_product
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.znz.model.TProduct" >
    insert into t_product (id, prod_no,prod_name, start,
      destination, prod_sort, prod_sale,
      create_time, update_time, remark
      )
    values (#{id,jdbcType=VARCHAR}, #{prodNo,jdbcType=VARCHAR}, #{prodName,jdbcType=VARCHAR}, #{start,jdbcType=VARCHAR},
      #{destination,jdbcType=VARCHAR}, #{prodSort,jdbcType=VARCHAR}, #{prodSale,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.znz.model.TProduct" >
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="prodNo != null" >
        prod_no,
      </if>
      <if test="prodName != null" >
        prod_name,
      </if>
      <if test="start != null" >
        start,
      </if>
      <if test="destination != null" >
        destination,
      </if>
      <if test="prodSort != null" >
        prod_sort,
      </if>
      <if test="prodSale != null" >
        prod_sale,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="prodNo != null" >
        #{prodNo,jdbcType=VARCHAR},
      </if>
      <if test="prodName != null" >
        #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="start != null" >
        #{start,jdbcType=VARCHAR},
      </if>
      <if test="destination != null" >
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="prodSort != null" >
        #{prodSort,jdbcType=VARCHAR},
      </if>
      <if test="prodSale != null" >
        #{prodSale,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.znz.model.TProduct" >
    update t_product
    <set >
      <if test="prodName != null" >
        prod_name = #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="prodNo != null" >
        prod_no = #{prodNo,jdbcType=VARCHAR},
      </if>
      <if test="start != null" >
        start = #{start,jdbcType=VARCHAR},
      </if>
      <if test="destination != null" >
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="prodSort != null" >
        prod_sort = #{prodSort,jdbcType=VARCHAR},
      </if>
      <if test="prodSale != null" >
        prod_sale = #{prodSale,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.znz.model.TProduct" >
    update t_product
    set prod_name = #{prodName,jdbcType=VARCHAR},
       prod_no = #{prodNo,jdbcType=VARCHAR},
      start = #{start,jdbcType=VARCHAR},
      destination = #{destination,jdbcType=VARCHAR},
      prod_sort = #{prodSort,jdbcType=VARCHAR},
      prod_sale = #{prodSale,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByPage" resultMap="BaseResultMap" parameterType="com.znz.vo.ProductQueryVO" >
    select
    <include refid="Base_Column_List" />
    from t_product where 1=1
    <if test="prodNo != null" >
      and  prod_no like #{prodNo,jdbcType=VARCHAR}
    </if>
    <if test="prodName != null" >
      and prod_name like #{prodName,jdbcType=VARCHAR}
    </if>
    <if test="start != null" >
      and start like #{start,jdbcType=VARCHAR}
    </if>
    <if test="destination != null" >
      and destination like #{destination,jdbcType=VARCHAR}
    </if>
    order by
    <choose>
      <when test="sortName == 'prodNo'" >
        prod_no
      </when>
      <when test="sortName == 'prodSort'" >
        prod_sort
      </when>
      <when test="sortName == 'prodSale'" >
        prod_sale
      </when>
      <otherwise>
        create_time
      </otherwise>
    </choose>
     ${sord}
  </select>

</mapper>