<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.znz.dao.TTravelGtyMapper" >
  <resultMap id="BaseResultMap" type="com.znz.model.TTravelGty" >
    <id column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="cfd" property="cfd" jdbcType="VARCHAR" />
    <result column="mdd" property="mdd" jdbcType="VARCHAR" />
    <result column="pc" property="pc" jdbcType="VARCHAR" />
    <result column="wf" property="wf" jdbcType="VARCHAR" />
    <result column="cpmc" property="cpmc" jdbcType="VARCHAR" />
    <result column="days" property="days" jdbcType="VARCHAR" />
    <result column="jtfs" property="jtfs" jdbcType="VARCHAR" />
    <result column="jcg" property="jcg" jdbcType="VARCHAR" />
    <result column="dj" property="dj" jdbcType="VARCHAR" />
    <result column="spzxbj" property="spzxbj" jdbcType="VARCHAR" />
    <result column="tw" property="tw" jdbcType="VARCHAR" />
    <result column="js" property="js" jdbcType="VARCHAR" />
    <result column="qtx" property="qtx" jdbcType="VARCHAR" />
    <result column="cdjg" property="cdjg" jdbcType="VARCHAR" />
    <result column="lr" property="lr" jdbcType="VARCHAR" />
    <result column="td" property="td" jdbcType="VARCHAR" />
    <result column="qc" property="qc" jdbcType="VARCHAR" />
    <result column="hc" property="hc" jdbcType="VARCHAR" />
    <result column="sj" property="sj" jdbcType="VARCHAR" />
    <result column="gys" property="gys" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="cjsj" property="cjsj" jdbcType="TIMESTAMP" />
    <result column="gxsj" property="gxsj" jdbcType="TIMESTAMP" />
    <result column="ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext3" property="ext3" jdbcType="VARCHAR" />
    <result column="ext4" property="ext4" jdbcType="VARCHAR" />
    <result column="ext5" property="ext5" jdbcType="VARCHAR" />
    <result column="ext6" property="ext6" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, cfd, mdd, pc, wf, cpmc, days, jtfs, jcg, dj, spzxbj, tw, js, qtx, cdjg, lr, 
    td, qc, hc, sj, gys, phone, pid, remark, cjsj, gxsj, ext1, ext2, ext3, ext4, ext5, 
    ext6
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_travel_gty
    where uid = #{uid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_travel_gty
    where uid = #{uid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.znz.model.TTravelGty" >
    insert into t_travel_gty (uid, cfd, mdd, 
      pc, wf, cpmc, days, 
      jtfs, jcg, dj, spzxbj, 
      tw, js, qtx, cdjg, 
      lr, td, qc, hc, 
      sj, gys, phone, pid, 
      remark, cjsj, gxsj, 
      ext1, ext2, ext3, ext4, 
      ext5, ext6)
    values (#{uid,jdbcType=VARCHAR}, #{cfd,jdbcType=VARCHAR}, #{mdd,jdbcType=VARCHAR}, 
      #{pc,jdbcType=VARCHAR}, #{wf,jdbcType=VARCHAR}, #{cpmc,jdbcType=VARCHAR}, #{days,jdbcType=VARCHAR}, 
      #{jtfs,jdbcType=VARCHAR}, #{jcg,jdbcType=VARCHAR}, #{dj,jdbcType=VARCHAR}, #{spzxbj,jdbcType=VARCHAR}, 
      #{tw,jdbcType=VARCHAR}, #{js,jdbcType=VARCHAR}, #{qtx,jdbcType=VARCHAR}, #{cdjg,jdbcType=VARCHAR}, 
      #{lr,jdbcType=VARCHAR}, #{td,jdbcType=VARCHAR}, #{qc,jdbcType=VARCHAR}, #{hc,jdbcType=VARCHAR}, 
      #{sj,jdbcType=VARCHAR}, #{gys,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{cjsj,jdbcType=TIMESTAMP}, #{gxsj,jdbcType=TIMESTAMP}, 
      #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}, 
      #{ext5,jdbcType=VARCHAR}, #{ext6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.znz.model.TTravelGty" >
    insert into t_travel_gty
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="cfd != null" >
        cfd,
      </if>
      <if test="mdd != null" >
        mdd,
      </if>
      <if test="pc != null" >
        pc,
      </if>
      <if test="wf != null" >
        wf,
      </if>
      <if test="cpmc != null" >
        cpmc,
      </if>
      <if test="days != null" >
        days,
      </if>
      <if test="jtfs != null" >
        jtfs,
      </if>
      <if test="jcg != null" >
        jcg,
      </if>
      <if test="dj != null" >
        dj,
      </if>
      <if test="spzxbj != null" >
        spzxbj,
      </if>
      <if test="tw != null" >
        tw,
      </if>
      <if test="js != null" >
        js,
      </if>
      <if test="qtx != null" >
        qtx,
      </if>
      <if test="cdjg != null" >
        cdjg,
      </if>
      <if test="lr != null" >
        lr,
      </if>
      <if test="td != null" >
        td,
      </if>
      <if test="qc != null" >
        qc,
      </if>
      <if test="hc != null" >
        hc,
      </if>
      <if test="sj != null" >
        sj,
      </if>
      <if test="gys != null" >
        gys,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="cjsj != null" >
        cjsj,
      </if>
      <if test="gxsj != null" >
        gxsj,
      </if>
      <if test="ext1 != null" >
        ext1,
      </if>
      <if test="ext2 != null" >
        ext2,
      </if>
      <if test="ext3 != null" >
        ext3,
      </if>
      <if test="ext4 != null" >
        ext4,
      </if>
      <if test="ext5 != null" >
        ext5,
      </if>
      <if test="ext6 != null" >
        ext6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="cfd != null" >
        #{cfd,jdbcType=VARCHAR},
      </if>
      <if test="mdd != null" >
        #{mdd,jdbcType=VARCHAR},
      </if>
      <if test="pc != null" >
        #{pc,jdbcType=VARCHAR},
      </if>
      <if test="wf != null" >
        #{wf,jdbcType=VARCHAR},
      </if>
      <if test="cpmc != null" >
        #{cpmc,jdbcType=VARCHAR},
      </if>
      <if test="days != null" >
        #{days,jdbcType=VARCHAR},
      </if>
      <if test="jtfs != null" >
        #{jtfs,jdbcType=VARCHAR},
      </if>
      <if test="jcg != null" >
        #{jcg,jdbcType=VARCHAR},
      </if>
      <if test="dj != null" >
        #{dj,jdbcType=VARCHAR},
      </if>
      <if test="spzxbj != null" >
        #{spzxbj,jdbcType=VARCHAR},
      </if>
      <if test="tw != null" >
        #{tw,jdbcType=VARCHAR},
      </if>
      <if test="js != null" >
        #{js,jdbcType=VARCHAR},
      </if>
      <if test="qtx != null" >
        #{qtx,jdbcType=VARCHAR},
      </if>
      <if test="cdjg != null" >
        #{cdjg,jdbcType=VARCHAR},
      </if>
      <if test="lr != null" >
        #{lr,jdbcType=VARCHAR},
      </if>
      <if test="td != null" >
        #{td,jdbcType=VARCHAR},
      </if>
      <if test="qc != null" >
        #{qc,jdbcType=VARCHAR},
      </if>
      <if test="hc != null" >
        #{hc,jdbcType=VARCHAR},
      </if>
      <if test="sj != null" >
        #{sj,jdbcType=VARCHAR},
      </if>
      <if test="gys != null" >
        #{gys,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null" >
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="gxsj != null" >
        #{gxsj,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null" >
        #{ext5,jdbcType=VARCHAR},
      </if>
      <if test="ext6 != null" >
        #{ext6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.znz.model.TTravelGty" >
    update t_travel_gty
    <set >
      <if test="cfd != null" >
        cfd = #{cfd,jdbcType=VARCHAR},
      </if>
      <if test="mdd != null" >
        mdd = #{mdd,jdbcType=VARCHAR},
      </if>
      <if test="pc != null" >
        pc = #{pc,jdbcType=VARCHAR},
      </if>
      <if test="wf != null" >
        wf = #{wf,jdbcType=VARCHAR},
      </if>
      <if test="cpmc != null" >
        cpmc = #{cpmc,jdbcType=VARCHAR},
      </if>
      <if test="days != null" >
        days = #{days,jdbcType=VARCHAR},
      </if>
      <if test="jtfs != null" >
        jtfs = #{jtfs,jdbcType=VARCHAR},
      </if>
      <if test="jcg != null" >
        jcg = #{jcg,jdbcType=VARCHAR},
      </if>
      <if test="dj != null" >
        dj = #{dj,jdbcType=VARCHAR},
      </if>
      <if test="spzxbj != null" >
        spzxbj = #{spzxbj,jdbcType=VARCHAR},
      </if>
      <if test="tw != null" >
        tw = #{tw,jdbcType=VARCHAR},
      </if>
      <if test="js != null" >
        js = #{js,jdbcType=VARCHAR},
      </if>
      <if test="qtx != null" >
        qtx = #{qtx,jdbcType=VARCHAR},
      </if>
      <if test="cdjg != null" >
        cdjg = #{cdjg,jdbcType=VARCHAR},
      </if>
      <if test="lr != null" >
        lr = #{lr,jdbcType=VARCHAR},
      </if>
      <if test="td != null" >
        td = #{td,jdbcType=VARCHAR},
      </if>
      <if test="qc != null" >
        qc = #{qc,jdbcType=VARCHAR},
      </if>
      <if test="hc != null" >
        hc = #{hc,jdbcType=VARCHAR},
      </if>
      <if test="sj != null" >
        sj = #{sj,jdbcType=VARCHAR},
      </if>
      <if test="gys != null" >
        gys = #{gys,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null" >
        cjsj = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="gxsj != null" >
        gxsj = #{gxsj,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null" >
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        ext3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        ext4 = #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null" >
        ext5 = #{ext5,jdbcType=VARCHAR},
      </if>
      <if test="ext6 != null" >
        ext6 = #{ext6,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.znz.model.TTravelGty" >
    update t_travel_gty
    set cfd = #{cfd,jdbcType=VARCHAR},
      mdd = #{mdd,jdbcType=VARCHAR},
      pc = #{pc,jdbcType=VARCHAR},
      wf = #{wf,jdbcType=VARCHAR},
      cpmc = #{cpmc,jdbcType=VARCHAR},
      days = #{days,jdbcType=VARCHAR},
      jtfs = #{jtfs,jdbcType=VARCHAR},
      jcg = #{jcg,jdbcType=VARCHAR},
      dj = #{dj,jdbcType=VARCHAR},
      spzxbj = #{spzxbj,jdbcType=VARCHAR},
      tw = #{tw,jdbcType=VARCHAR},
      js = #{js,jdbcType=VARCHAR},
      qtx = #{qtx,jdbcType=VARCHAR},
      cdjg = #{cdjg,jdbcType=VARCHAR},
      lr = #{lr,jdbcType=VARCHAR},
      td = #{td,jdbcType=VARCHAR},
      qc = #{qc,jdbcType=VARCHAR},
      hc = #{hc,jdbcType=VARCHAR},
      sj = #{sj,jdbcType=VARCHAR},
      gys = #{gys,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      cjsj = #{cjsj,jdbcType=TIMESTAMP},
      gxsj = #{gxsj,jdbcType=TIMESTAMP},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      ext3 = #{ext3,jdbcType=VARCHAR},
      ext4 = #{ext4,jdbcType=VARCHAR},
      ext5 = #{ext5,jdbcType=VARCHAR},
      ext6 = #{ext6,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=VARCHAR}
  </update>

  <select id="selectByPage" parameterType="com.znz.vo.TravelGtyQueryVO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_travel_gty where 1=1
    <if test="gys != null">
      and  gys like #{gys,jdbcType=VARCHAR}
    </if>
    <if test="cpmc != null">
      and  cpmc = #{cpmc,jdbcType=VARCHAR}
    </if>
    <if test="days != null">
      and  days = #{days,jdbcType=VARCHAR}
    </if>
    <if test="pc != null">
      and  pc like #{pc,jdbcType=VARCHAR}
    </if>
    <if test="cfd != null">
      and  cfd like #{cfd,jdbcType=VARCHAR}
    </if>
    <if test="mdd != null">
      and  mdd like #{mdd,jdbcType=VARCHAR}
    </if>
    <if test="pid != null">
      and  pid like #{pid,jdbcType=VARCHAR}
    </if>
    <if test="jtfs != null">
      and  jtfs like #{jtfs,jdbcType=VARCHAR}
    </if>
    order by ${sortName} ${sord}
  </select>
</mapper>