<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.znz.dao.TTravelLineMapper" >
  <resultMap id="BaseResultMap" type="com.znz.model.TTravelLine" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="prod_no" property="prodNo" jdbcType="VARCHAR" />
    <result column="spzx" property="spzx" jdbcType="VARCHAR" />
    <result column="days" property="days" jdbcType="VARCHAR" />
    <result column="jtfs" property="jtfs" jdbcType="VARCHAR" />
    <result column="hotel" property="hotel" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext3" property="ext3" jdbcType="VARCHAR" />
    <result column="ext4" property="ext4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, prod_no, spzx, days, jtfs, hotel, remark, create_time, update_time, ext1, ext2, 
    ext3, ext4
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_travel_line
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_travel_line
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.znz.model.TTravelLine" >
    insert into t_travel_line (id, prod_no, spzx, 
      days, jtfs, hotel, 
      remark, create_time, update_time, 
      ext1, ext2, ext3, ext4
      )
    values (#{id,jdbcType=VARCHAR}, #{prodNo,jdbcType=VARCHAR}, #{spzx,jdbcType=VARCHAR}, 
      #{days,jdbcType=VARCHAR}, #{jtfs,jdbcType=VARCHAR}, #{hotel,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.znz.model.TTravelLine" >
    insert into t_travel_line
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="prodNo != null" >
        prod_no,
      </if>
      <if test="spzx != null" >
        spzx,
      </if>
      <if test="days != null" >
        days,
      </if>
      <if test="jtfs != null" >
        jtfs,
      </if>
      <if test="hotel != null" >
        hotel,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="ext1 != null" >
        ext1,
      </if>
      <if test="ext2 != null" >
        ext2,
      </if>
      <if test="ext3 != null" >
        ext3,
      </if>
      <if test="ext4 != null" >
        ext4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="prodNo != null" >
        #{prodNo,jdbcType=VARCHAR},
      </if>
      <if test="spzx != null" >
        #{spzx,jdbcType=VARCHAR},
      </if>
      <if test="days != null" >
        #{days,jdbcType=VARCHAR},
      </if>
      <if test="jtfs != null" >
        #{jtfs,jdbcType=VARCHAR},
      </if>
      <if test="hotel != null" >
        #{hotel,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        #{ext4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.znz.model.TTravelLine" >
    update t_travel_line
    <set >
      <if test="prodNo != null" >
        prod_no = #{prodNo,jdbcType=VARCHAR},
      </if>
      <if test="spzx != null" >
        spzx = #{spzx,jdbcType=VARCHAR},
      </if>
      <if test="days != null" >
        days = #{days,jdbcType=VARCHAR},
      </if>
      <if test="jtfs != null" >
        jtfs = #{jtfs,jdbcType=VARCHAR},
      </if>
      <if test="hotel != null" >
        hotel = #{hotel,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null" >
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        ext3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        ext4 = #{ext4,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.znz.model.TTravelLine" >
    update t_travel_line
    set prod_no = #{prodNo,jdbcType=VARCHAR},
      spzx = #{spzx,jdbcType=VARCHAR},
      days = #{days,jdbcType=VARCHAR},
      jtfs = #{jtfs,jdbcType=VARCHAR},
      hotel = #{hotel,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      ext3 = #{ext3,jdbcType=VARCHAR},
      ext4 = #{ext4,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByPage" resultMap="BaseResultMap" parameterType="com.znz.vo.TravelLineQueryQueryVO" >
    select
    <include refid="Base_Column_List" />
    from t_travel_line where 1=1
    <if test="prodNo != null" >
      and  prod_no like #{prodNo,jdbcType=VARCHAR}
    </if>
    <if test="hotel != null" >
      and hotel like #{hotel,jdbcType=VARCHAR}
    </if>
    <if test="spzx != null" >
      and spzx = #{spzx,jdbcType=VARCHAR}
    </if>
    <if test="days != null" >
      and days = #{days,jdbcType=VARCHAR}
    </if>
    <if test="jtfs != null" >
      and jtfs like #{jtfs,jdbcType=VARCHAR}
    </if>
    order by
    <choose>
      <when test="sortName == 'prodNo'" >
        prod_no
      </when>
      <otherwise>
        create_time
      </otherwise>
    </choose>
    ${sord}
  </select>
</mapper>